<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update-lesson</title>
    <style>
        body{
            background-image: url("https://wallpaperaccess.com/full/1140733.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }
        table,
        td {
            border: 1px solid #333333FF;
            margin-top: 200px;
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;
        }
        tfoot {
            background-color: #333333FF;
            color: #FFFFFFFF;
        }
    </style>
</head>
<body>
<form
        action="#"
        th:action="@{/{lessonId}/{id}/saveUpdateTask(lessonId=${lessonId}, id=${task.id})}"
        th:object="${task}"
        method="post">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="taskName" th:field="*{taskName}" placeholder="Task name">
    <br><br>
    <input type="text" name="taskName" th:field="*{taskTest}" placeholder="Task name">
    <br><br>
    <input type="text" name="deadline" th:field="*{deadline}" placeholder="deadline">
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>
