<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>updateLesson</title>
</head>
<body>
<form
        action="#"
        th:action="@{/{courseId}/updateLesson/{id}(id=${lesson.id},courseId=${courseId})}"
        th:object="${lesson}"
        method="POST">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="lessonName" th:field="*{lessonName}" placeholder="lessonName" required>
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>